.column
{
    float:left;
    width:50%;
}

#svgCircleCover, #svgRectCover, #svgPolygonCover{
    width: 100px;
    height: 100px;
    border: 1px solid #aaaaaa;
    padding-top: 20px;
    padding-left: 20px;
}

#CrossRedsquare,#CrossRedcircle,#CrossRedtriangle{
    color: red;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 30px;
}

.success{
    background-color: green;
}