.buttonRed {background-color: red;} /* red */
.buttonBlue {background-color: blue;} /* blue */
.buttonGreen {background-color: green;} /* green */
.buttonBlack {background-color: black;} /* black */
.buttonYellow {background-color: yellow;}